@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

body {
  font-family: 'Exo 2', sans-serif;
  font-optical-sizing: auto;
  /* background: #394b77;
  color: #dfd6d6; */
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .mx-width {
    max-width: 1600px;
    margin: auto;
  }

  .test {
    /* letter-spacing: .8rem; */
  }
}

.london-span {
  position: relative;
}
.london-span::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 93%;
  height: 1px;
  border-radius: 40px;
  background-color: #d9042b;
}

.page-quote {
  position: relative;
}

.page-quote::before {
  content: '\201C';
  position: absolute;
  top: -4.5rem;
  left: 0;
  font-size: 8rem;
  color: #d9042b;
}
.page-quote::after {
  content: '\201D';
  position: absolute;
  bottom: -7.6rem;
  right: 0;
  font-size: 8rem;
  color: #d9042b;
}
.hover {
  transition: transform 500ms ease-in-out;
}
.hover:hover {
  transform: translateY(-0.8rem);
}

.nav-open {
  overflow: hidden;
}

.clamp-test {
  font-size: clamp(3.5rem, 6vw, 4.5rem);
  line-height: 1;
}


